<%- include("../views/partials/header", { titulo: "Editar Superhéroe" }) %>
<%- include("../views/partials/messages") %>
<div class="container mt-5">
    <h3>✏️ Editar Superhéroe</h3>

    <form action="/heroes/editarhero/<%= hero._id %>" method="POST" class="card p-4">
        
        <div class="mb-3">
            <label class="form-label">Nombre del superhéroe</label>
            <input type="text" name="nombreSuperHeroe" class="form-control" 
                   value="<%= hero.nombreSuperHeroe %>">
        </div>
        
        <div class="mb-3">
            <label class="form-label">Nombre real</label>
            <input type="text" name="nombreReal" class="form-control" 
                   value="<%= hero.nombreReal %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Edad</label>
            <input type="number" name="edad" class="form-control" 
                   value="<%= hero.edad %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Planeta de origen</label>
            <input type="text" name="planetaOrigen" class="form-control" 
                   value="<%= hero.planetaOrigen %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Debilidad</label>
            <input type="text" name="debilidad" class="form-control" 
                   value="<%= hero.debilidad %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Poderes (separados por coma)</label>
            <input type="text" name="poderes" class="form-control" 
                   value="<%= (hero.poderes ? hero.poderes.join(', ') : '') %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Aliados</label>
            <input type="text" name="aliados" class="form-control" 
                   value="<%= (hero.aliados ? hero.aliados.join(', ') : '') %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Enemigos</label>
            <input type="text" name="enemigos" class="form-control" 
                   value="<%=  (hero.enemigos ? hero.enemigos.join(', ') : '') %>">
        </div>

        <div class="mb-3">
            <label class="form-label">Creador</label>
            <input type="text" name="creator" class="form-control" 
                   value="<%= hero.creator %>">
        </div>

        <div class="text-center mt-4">
            <button class="btn btn-warning">Actualizar</button>
            <a href="/heroes" class="btn btn-secondary">⬅ Volver</a>
        </div>
            
    </form>
</div>    
<%- include("../views/partials/footer") %>